<div class="page-header">
    <h1>About</h1><br>
    <p>This site was developed for a testing purpose. Please give your feedback from the 
        <b>Feedback</b> menu</p>We really appreciate your participation for testing this simple website
        .
</div>