<div class="page-header">
    <h1>Feedback</h1>
</div>

<form class="form-group" ng-submit="feedback.inputFeedback(Regdata);"> 
    <label>Email:</label>
    <input type="email" name="email" class="form-control" placeholder="please enter your email" ng-model="feedback.Regdata.email">
    <br/>

    <label>Title:</label>
    <input type="text" name="title" class="form-control" placeholder="please enter your feedback title" ng-model="feedback.Regdata.title" >
    <br/>

    <label>Feedback:</label>
    <textarea class="form-control" rows="5" name="feedback" placeholder="type your feedback" ng-model="feedback.Regdata.feedback"></textarea>
    <br/>
    <button type="" class="btn btn-primary">Submit</button>
</form>

    <div class="jumbotron text-center" ng-show="feedback.loading">
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p>Loading...</p>
	</div>

	<div class="row show-hide-message" ng-show="feedback.successMsg">
		<div class="alert alert-success">{{ feedback.successMsg }}</div>
	</div>
	<br>
	<div class="row show-hide-message" ng-show="feedback.errorMsg">
		<div class="alert alert-danger">{{ feedback.errorMsg }}</div>
	</div>
